<div class="thumbnail">
	<a id="<%= img.id.to_s %>" class="fancybox" rel="popover" href="<%= img.image.url %>" class="thumbnail" data-placement="bottom" data-trigger="hover" >
			<img  src="<%= img.image.url(:thumb) %>" data-src="<%= img.image.url(:thumb) %>" alt="" style="width: 244px; height: 200px;">
	</a>
</div>
