<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-12">
			<% @cornerstones.each do |img| %>
				<div class="col-xs-6 col-md-3" id="gallery-pic-<%= img.id.to_s %>">
					<%= render partial: "thumb", :locals => {:img => img} %>
		    	</div>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
  		$(function () {
    		$("a[rel=popover]").popover({live: true });
    		$("a[rel=popover]").fancybox();
  		});
	});
</script>